{% extends "base.html" %}
{% load static %}
{% load users_extra %}
{% load humanize %}


{% block title %}Путешествуйте по всему миру вместе с нами!{% endblock %}

{% block content %}
<main class="main">
    <section class="main__hero hero">
        <div class="hero__wrapper container">
            <h1 class="hidden">Поиск дешёвых путешествий от BuyToTrip</h1>
            <p class="hero__title title container">Поиск дешёвых путешествий от <img class="hero__logo" src="{% static "images/logo_white.svg" %}" alt=""></p>
            <form action="{% url 'search' %}" method="get" class="hero__input-group input-group">
                <div class="input-group__field">
                    <div class="form-control">
                        <label for="where_go" class="form-control__icon icon">public</label>
                        <input id="where_go" list="where_go_list" class="form-control__input" type="text" placeholder="Куда едем?" required name="where_go">
                        <datalist id="where_go_list">
                            {% for country in countries %}
                                <option value="{{ country.name }}"></option>
                            {% endfor %}
                        </datalist>
                    </div>
                </div>
                <div class="input-group__field hero__count-travelers">
                    <div class="form-control">
                        <label for="count_travelers" class="form-control__icon icon">group</label>
                        <input id="count_travelers" class="form-control__input" type="number" min="1" max="25" step="1" name="travelers" value="2" required>
                    </div>
                </div>
                <div class="input-group__field">
                    <div class="form-control">
                        <label for="departure" class="form-control__icon icon">flight_takeoff</label>
                        <input id="departure" list="departure_list" class="form-control__input" type="text" placeholder="Вылет из" required name="departure_from">
                        <datalist id="departure_list">
                            {% for departure in departures %}
                                <option value="{{ departure.code }}">{{ departure.city }}</option>
                            {% endfor %}
                        </datalist>
                    </div>
                </div>
            {% csrf_token %}
                <div class="input-group__field hero__search">
                    <div class="form-control">
                        <button class="form-control__button" type="submit">Поехали!</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <section class="main__ad-travels ad-travels container">
        <h2 class="ad-travels__title title">Партнёрские туры</h2>
        <div class="ad-travels__items">
            {% for tour in tours %}
                <a href="{% url 'tour' tour.id %}" class="ad-travels__card card card_row">
                <div class="card__preview">
                    <img src="{{ tour.images.url }}" alt="" class="card__preview-image">
                    <div class="card__tags">

                    </div>
                    <div class="card__content">
                        <p class="card__title">
                            {{ tour.hotel.name|upper }}
                        </p>
                        <p class="card__subtitle">
                            {{ tour.departure_date|date:"d M"|lower}}, {{ tour.count_nights }} {{ tour.count_nights|ru_plural:"ночь,ночи,ночей" }}
                        </p>
                        <p class="card__description">
                            {{ tour.hotel.city }}, {{ tour.hotel.city.country }}
                        </p>
                    </div>
                    <div class="card__footer">
                        <p class="card__price">
                            {{ tour.price|intcomma }} ₽
                        </p>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </section>
    <section class="main__ad-banner ad-banner container">
        <a href=""><img src="public/images/ad.jpg" alt="" class="ad-banner__image"></a>
        <h2 class="ad-banner__title title">perfilov.ru · реклама</h2>
    </section>
</main>
{% endblock %}